@media (min-width: 640px) {
  header h1 {
    font-size: 1.5rem;
  }

  nav.navigation {
    display: block;
  }

  .hamburger {
    display: none;
  }

  nav ul {
    display: flex;
    justify-content: center;
  }

  nav li {
    border: none;
  }

  nav a {
    padding: 0.75rem 1.5rem;
  }

  .info-panels {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    align-items: stretch;
  }


  .info-panels > div {
    flex: 1;
  }

  .thanks-panel {
  padding: 1rem;
  height: 652px;
  align-content: center;
  text-align: center;
  }
  .thanks-panel ul {
    list-style: none;
  }

  #directory-cards.grid-view {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .form-and-cards {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 1rem;
  }

  .form-container {
    display: grid;
    gap: 2rem;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 4px;
  }

  .membership-cards {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .membership-cards .card-grid h2 {
  text-align: center;
  }


  .membership-cards .card-grid {
    row-gap: 4rem;
  }


  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
  }

  .footer-content section {
    flex: 1;
  }
}
