@media (min-width: 640px) {
  header h1 {
    font-size: 1.5rem;
  }

  nav.navigation {
    display: block;
  }

  .hamburger {
    display: none;
  }

  nav ul {
    display: flex;
    justify-content: center;
  }

  nav li {
    border: none;
  }

  nav a {
    padding: 0.75rem 1.5rem;
  }

  .info-panels {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    align-items: stretch;
  }


  .info-panels > div {
    flex: 1;
  }

  #directory-cards.grid-view {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
  }

  .footer-content section {
    flex: 1;
  }
}
