@media only screen and (min-width: 38rem) {
    header, main, nav, footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: solid 1px #eee;
    }

    .navigation ul {
        display: flex;
    }
    .navigation a {
        border: none;
    }

    .about-student {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    }
    section h2 {
        font-size: 1.5rem;
    }
    .course-filters {
        justify-content: flex-start;
    }
    #course-cards {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }
    #course-cards div {
        flex: 1 1 200px;
    }


}